@import "tailwindcss";

@import "tailwindcss";

@theme {
  --color-naranja: #ff6b2b;
  --color-naranja-claro: #ff8c55;
  --color-lila: #9b8ec4;
  --color-lila-claro: #e8e4f5;
  --color-fondo: #fafafa;
}
